/*this is just a dummy css file to start with/*
.hidden

.placeholder
{
 color: #fff;
}
@charset "utf-8";
/* CSS Document */
body {
	background-image: url(../);
	background-repeat: repeat;
	background-color: #333;
	color: #FFF;
	font-size: 16px;
}

.container
{
	width:1280px;
	height: auto;
	margin:auto;
	background-color:#666666;
}

.hidden { display: none }
.mainHeader
{
	display: flex;
	flex-direction: row;
}
.logoHeader
{
	padding:0;
}
.Logo
{
	width:210px;
	height:auto;
	
}

#game-boards {  
	display:flex; 
	flex-direction:row;
	
	 text-align: center; }
#dragging-area
{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	background-color:#666666;
 }

.droppieces, .dropping-area{
	margin-top: 40px;
	height: 400px;
	display: inline-block;
	background-color: #fff;
	color: inherit;
	overflow: hidden;
}

.droppieces { width: 500px; height:auto; margin-right: 150px; margin-left:150px;  }






.dropping-area { width:1000px; 
background-image: url(../images/landscape.png);
margin:auto;
margin-top:50px;
=======


.mixer-image {
	width: 40%;
	display:inline-block;
	padding: 8px;
	cursor: pointer;
}

/* arrange the puzzle pieces on the board */



.tl, .br{text-align: right;}
.tr img {bottom:0;}
.tl img {bottom:0; right:0;}
.bl img{right:0;}



/* set up drop zones */


.drop-zone 
{
	
	
	width: 100px;
	height: 100px;
	margin-left:100px;
	background-color:#fff;
}
=======

.z1
{
position:absolute;
margin-left:100px;
margin-top:200px;
}

.z2
{
	position:absolute;
	margin-left: 400px;
	margin-top: 150px;
}

.z3
{
position:absolute;
	margin-left: 800px;
	margin-top:230px;
}

.drop-zone img
{
	width:100px !important;
	padding:0 !important;
	cursor: default;
	position: absolute;
}
/* end board styles */


header {
	padding:0;
	position: relative;
	top: 20px;
	width: 100%;
	height:100px;
	margin: 0px auto;
	text-align: center;
	background-color:#cdcdcd;


}

header h1 {
	font-size: 3.25em;
  	letter-spacing: 3px;
	margin: 10px 0;
	color:#000;
}

header p, footer p { 
	font-size: 1.7em; 
	letter-spacing: 2px; 
	margin: 10px 0 
}

footer {
	position: relative;
	width: 600px;
	margin: 65px auto 0;
	text-align: center;
}

#buttonHolder { 
	display:flex;
	flex-direction:column;
	margin-top:70px;
	text-align: center; }

#buttonHolder  {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	cursor: pointer;

}
.b1
{
	width:100px;
	height:100px;
	background-image: url(../images/icons-colour/svg/riddick_a-icons_sun.svg);
	background-color:transparent;
	border:transparent;
	filter:grayscale(100%);
}

.b2
{
	width:100px;
	height:100px;
	background-image: url(../images/icons-colour/svg/riddick_a-icons_sunset.svg);
	background-color:transparent;
	border:transparent;
	filter:grayscale(100%);
}

.b3
{
	width:100px;
	height:100px;
	background-image: url(../images/icons-colour/svg/riddick_a-icons_moon.svg);
	background-color:transparent;
	border:transparent;
	filter:grayscale(100%);
}

.B:hover
{
filter:grayscale(0%);
}
